<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            width: 80%;
            margin: 0 auto;
        }

        .topnav {
  overflow: hidden;
  background-color: saddlebrown;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:antiquewhite;
  color: black;
}

.bottom_bar{
    overflow: hidden;
  background-color:saddlebrown;
}
    </style>
    <title>Steganography App</title>
</head>
<body style="background-color:blanchedalmond">
    <div class="topnav">
        <h1 style="align-self: center;text-align: center; color:antiquewhite; font-family:'Times New Roman', Times, serif">Steganography App</h1>
        <a href="/">M<sup>3</sup>A</a>
        <a  href="/">Home</a>
        <a class="active" href="#about">About</a>
      </div>
        <h1>Steganography</h1>

    <p>Steganography is the technique of hiding data within an ordinary, nonsecret file or message to avoid detection; the hidden data is then extracted at its destination. Steganography use can be combined with encryption as an extra step for hiding or protecting data. The word steganography is derived from the Greek word steganos, meaning "hidden or covered," and the Greek root graph, meaning "to write."

        Steganography can be used to conceal almost any type of digital content, including text, image, video or audio content. The secret data can be hidden inside almost any other type of digital content. The content to be concealed through steganography -- called hidden text -- is often encrypted before being incorporated into the innocuous-seeming cover text file or data stream. If not encrypted, the hidden text is commonly processed in some method to increase the difficulty of detecting the secret content.</p>
        <h2>Least significant bit steganography</h2>
        <p>
            Least Significant Bit steganography is one such technique in which least significant bit of pixels of the image is replaced with data bits. This approach has the advantage that it is simplest one to understand, easy to implement and results in stego-images that contain embedded data as hidden.
        </p>
        <div class="bottom_bar">
            <h2 style="text-align: center; color: antiquewhite;">By :</h4>
            <h3 style="text-align: center; color: antiquewhite;">Madhu Kumar G,  Manoj Kumar G M,  Mahendra M,  Abhishek M</h3>
        </div>
</body>
</html>